// COLORS
$color-primary: rgba(19, 46, 12, 0.8);
$color-primary-light:rgba(233, 238, 231, 0.8);
$color-primary-medium: rgba(92, 103, 89, 0.8);

$color-secondary-light: #ffb900;
$color-secondary-medium: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-medium: #5643fa;

$color-card-2-primary-light: rgba(255, 130, 228, 0.8);
$color-card-2-primary-dark: rgba(165, 85, 148, 0.8);

$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #eee;



$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


//FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

