// COLORS
$color-primary: rgba(53, 233, 77, 0.8);
$color-primary-light: rgba(20, 184, 42, 0.8);

$color-primary-card: rgba(53, 233, 77, 1);
$color-primary-card-light: rgba(20, 184, 42, 1);

// $color-primary: rgba(114, 255, 71, 0.8);
// $color-primary-light: rgba(57, 245, 0, 0.8);

$color-secondary-light: #ffb900;
$color-secondary-medium: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-medium: #5643fa;

$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
